
@{
    ViewBag.Title = "App web cadastro com mvc";
}

<h2>Programa para cadastro de veículos!</h2>

<p>Devido as credencias do banco não estarem no programa, não está funcionando, basta fazer as mudanças no Controller</p>
