
@{
    ViewBag.Title = "Salvar";
}

<h2>Salvar</h2>
<form method="post" action="~/Default/Salvar">
    <label class="pularLinha">Placa</label>
    <input type="text" name="placa" />
    <label class="pularLinha">Modelo</label>
    <input type="text" name="modelo" />
    <input type="submit" />
</form>
